@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "montserrat", sans-serif;
  z-index: -2;
}

#whatsapp {
  background: linear-gradient(
    120deg,
    rgba(64, 195, 81, 1) 0%,
    rgba(46, 124, 55, 1) 100%
  );
  z-index: 2;
}

#whatsapp::before {
  z-index: -1;
  content: " ";
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0px;
  filter: blur(6px);
  border-radius: 10px;
  background: linear-gradient(
    120deg,
    rgba(64, 195, 81, 1) 0%,
    rgba(46, 124, 55, 1) 100%
  );
}

#callToAction {
  background: linear-gradient(
    180deg,
    rgba(242, 195, 5, 1) 0%,
    rgba(219, 179, 16, 1) 100%
  );

  z-index: 2;
}

#callToAction::before {
  z-index: -1;
  content: " ";
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0px;
  filter: blur(4px);
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    rgba(242, 195, 5, 1) 0%,
    rgba(219, 179, 16, 1) 100%
  );
}

#nav{
  backdrop-filter: opacity(20%);
}

#black{
  font-weight: 600;
  color: rgb(168, 44, 44);
}

#yellow{
  font-weight: 600;
  color: #f2c305;
}